<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
            width: 50%;
            margin: auto;
        }
    </style>
</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <form action="/forgot" method="POST">
                <legend>Forgot Password</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" autofocus class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" name="email" autofocus value="Reset Password" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>


</body>

</html>